<%= turbo_stream.replace "unlike-button-for-post-#{@post.id}" do %>
  <%= render 'posts/like', post: @post %>
<% end %>
<%= turbo_stream.replace "like-count-for-post-#{@post.id}" do %>
  <div id="like-count-for-post-<%= @post.id %>"><%= @post.likes.count %></div>
<% end %>