<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo1.png', height: '100'%>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'ホーム', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'プロフィール', '#', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to '投稿する', '#', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'スポット一覧', '#', class: 'nav-link' %> <!-- 新しいリンク追加 -->
        </li>
        <li class="nav-item">
          <%= link_to '設定', '#', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'お問い合わせ', '#', class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>