<%= form_with model: @post,data: { turbo: false } do |f| %>
  <%= render 'shared/flash_message', object: f.object %>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
  <%= f.label :location_name, "場所の名称", for: "location-name-input" %>
  <%= f.text_field :location_name, class: "form-control", id: "location-name-input" %>
</div>
<div class="mb-3">
  <%= f.label :address, "住所", for: "address-input" %>
  <%= f.text_field :address, class: "form-control", id: "address-input" %>
</div>
  <div class="mb-3">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", row: "10", style: "height: 200px" %>
  </div>
  <div class="mb-3">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control", accept: 'image/*' %>
    <%= f.hidden_field :image_cache %>
  </div>
    <%= f.submit nil, class: "btn btn-primary" %>
<% end %>
