<% content_for :title, "聖地投稿 | EBC MAP" %>
<div class="col-sm-12 col-lg-4 mb-3">
<div id="post-id-<%= post.id %>">
    <div class="card">
      <% if post.image.present? %>
        <%= image_tag post.image.url, class: "card-img-top", width: "300", height: "200" %>
      <% else %>
        <%= image_tag "noimage.png", class: "card-img-top", width: "300", height: "200" %>
      <% end %>
      <div class="card-body">
        <div class="d-flex">
          <h4 class="card-title">
            <%= link_to post.title, post_path(post), class: "card-title" %>
          </h4>
          <% if current_user.own?(post) %>
            <div class='ms-auto'>
              <%= link_to edit_post_path(post), id: "button-edit-#{post.id}", style: "text-decoration: none;" do %>
                <i class="bi bi-pencil-fill"></i>
              <% end %>
              <%= link_to post_path(post), id: "button-delete-#{post.id}", data:{ turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                <i class="bi bi-trash-fill"></i>
              <% end %>
            </div>
          <% end %>
        </div>
        <p><i class="bi bi-geo-alt"></i><%= post.address %></p>
        <div class="content">
          <p><%= post.content %></p>
        </div>
        <ul class="list-inline d-flex align-items-center">
          <li class="list-inline-item">
            <%= image_tag post.user.avatar_url, class: 'rounded-circle', size: '30x30' %>
          </li>
          <li class="list-inline-item">
            <%= post.user.decorate.full_name %>
          </li>
          <li class="list-inline-item flex-grow-1 text-center">
            <i class="bi bi-chat"></i>  <%= post.comments.count %>
          </li>
          <li class="list-inline-item ms-auto">
            <i class="bi bi-calendar"></i><%= l post.created_at.in_time_zone('Tokyo'), format: :short %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>