<div class="col-sm-12 col-lg-4 mb-3">
<div id="post-id-<%= post.id %>">
    <div class="card">
      <% if post.image.present? %>
        <%= image_tag post.image.url, class: "card-img-top", width: "300", height: "200" %>
      <% else %>
        <%= image_tag "noimage.png", class: "card-img-top", width: "300", height: "200" %>
      <% end %>
      <div class="card-body">
        <div class="d-flex">
          <h4 class="card-title">
            <%= post.title %>
          </h4>
          <div class='ms-auto'>
          <%= link_to '#', id: 'button-edit-#{post.id}' do %>
              <i class="bi bi-pencil-fill"></i>
            <% end %>
            <%= link_to '#', id: 'button-delete-#{post.id}', method: :delete, data: {confirm: ''} do %>
              <i class="bi bi-trash-fill"></i>
            <% end %>
          </div>
        </div>
        <ul class="list-inline">
          <p><i class="bi bi-calendar"></i><%= l post.created_at, format: :short %></p>
        </ul>
         <p><i class="bi bi-person"></i><%= post.user.decorate.full_name %></p>
        <p><i class="bi bi-map"></i><%= post.address %></p>
        <div class="content">
          <p><%= post.content %></p>
        </div>
      </div>
    </div>
  </div>
</div>