<div id="map" style="height: 500px;"></div>

<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: {lat: <%= @region.latitude %>, lng: <%= @region.longitude %>}
  });

  <% @locations.each do |location| %>
    var marker = new google.maps.Marker({
      position: {lat: <%= location.latitude %>, lng: <%= location.longitude %>},
      map: map,
      title: '<%= location.name %>'
    });

    marker.addListener('click', function() {
      // コンテンツを表示する方法をここに実装します
      alert('聖地: <%= location.name %>'); // 例えば、シンプルなアラート
    });
  <% end %>
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
</script>
